body{
    background-color: rgb(132, 114, 162);
    margin: 0px;
    padding: 0px;
}
html{
    font-size: 16px;
    
}
header{
    background-color: rgb(14, 14, 120);
}
header h1{
    padding-left: 3 0px;
    margin: 0px;
    text-align: left;
    font-size: 4rem;
    color: white;
}
nav{
    float: right;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 3vh;
}
nav a{
    padding-inline:10px;
}
.login-section{
    position: relative;
    top: 50vh;
    height: 20vh;
    width: 60vw;
    background-color: blue;  
    justify-content: center;
    border-radius: 15px;

}
section{
    display: flex;
    justify-content: center;

}